table{
    color: #ed7272;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 50vw;
}

tr{
    height: 16.02vh;
    background-color: #28042a;
}

td{
    width: 25vw;
    border: 1px solid #20042a;
}

#inputBox{
    background-color: #20042a;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #ed7272;
    border: 0px;
}

.digitButton{
    background-color: #701970;
}

.operatorButton{
    background-color: #830866;
}

.ACButton{
    background-color: #701970;
}

/*Desktops*/
@media (max-width: 1440px){
    .card-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
}



/*Tablet*/
@media (max-width: 1024px){
    .card{
        width: 250px;
        height: 350px;
    }
}



/*Phones*/
@media (max-width: 600px){
    .card-container{
        flex-direction: column;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/download.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}